.card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: max-content;
    cursor: pointer;
}

.card-img {
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 500px;
    overflow: hidden;
}

.card img {
    width: 100%;
    object-fit: cover;
    transition: transform 300ms ease-in-out;
}

.card:hover>.card-img img {
    transform: scale(1.2);
}

.card-content {
    flex: 1;
    text-align: left;
    color: var(--text-color-3);
    font-size: var(--font-size-3);
}

.card-content-title {
    font-size: var(--font-size-2);
}

.card-content-category {
    font-style: italic;
    color: var(--text-color-2);
}

.card-content-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--font-size-4);

}