.app-root {
    width: 100vw;
    overflow-x: hidden;
}

.app-header,
.app-footer {
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    position: relative;
    width: 100%;
    z-index: 1;
    padding: var(--padding-1);
}

.app-header {
    position: fixed;
    z-index: 3;
}

.app-body {
    color: var(--text-color-4);
    height: max-content;
    margin-top: calc(4vw + 35px);
}