<div class="home">
    <section class="home-banner">
        <h2 class="home-banner-title cormorant-upright-semibold">Trà Trái Cây Nhiệt Đới Thanh Mát Phải Thử</h2>
        <button class="home-banner-btn cormorant-upright-light">Khám Phá Ngay</button>
    </section>
    <br>
    <div class="home-content">
        <section class="home-content-banner cormorant-upright-regular">
            <h3 class="home-content-banner-title">Sinh Tố</h3>
            <div class="home-content-banner-details"><app-card /></div>
            <div class="home-content-banner-details"><app-card /></div>
            <div class="home-content-banner-details"><app-card /></div>
            <div class="home-content-banner-details"><app-card /></div>
            <div class="home-content-banner-details"><app-card /></div>
        </section>
        <br>
        <section class="home-content- cormorant-upright-regular">
            <h3 class="home-content-banner-title">Nước Ép</h3>
            <div class="home-content-banner-details"><app-card /></div>
            <div class="home-content-banner-details"><app-card /></div>
            <div class="home-content-banner-details"><app-card /></div>
            <div class="home-content-banner-details"><app-card /></div>
            <div class="home-content-banner-details"><app-card /></div>
        </section>
    </div>
    <br>
</div>