<div class="home">
    <section class="home-banner">
        <h2 class="home-banner-title cormorant-upright-semibold">Trà Trái Cây Nhiệt Đới Thanh Mát Phải Thử</h2>
        <button class="home-banner-btn cormorant-upright-light">Khám Phá Ngay</button>
    </section>
    <br>
    <br>
    <br>
    <div class="home-content">
        <section class="home-content-banner cormorant-upright-regular">
            <h3 class="home-content-banner-title">Best seller</h3>
            <br>
            <div class="home-content-best_seller">
                @if(loading){
                <div class="home-content-item-loader">loading...</div>
                }
                @else{
                @for(item of data_best_seller; track item.id){
                <app-card [card-data]="item" />
                }
                }
            </div>
        </section>
        <br>
        <section class="home-content-banner cormorant-upright-regular">
            <h3 class="home-content-banner-title">Sinh Tố</h3>
            <br>
            <div class="home-content-item">
                @if(loading){
                <div class="home-content-item-loader">loading...</div>
                }
                @else{
                @for(item of data_smoothie?.slice(0,8); track item.id){
                <app-card [card-data]="item" />
                }
                }

            </div>
            @if(data_smoothie !== null && data_smoothie!.length > 8){
            <button class="home-content-banner-btn">Xem thêm</button>
            }
        </section>
        <br>
        <section class="home-content-banner cormorant-upright-regular">
            <h3 class="home-content-banner-title">Nước Ép</h3>
            <br>
            <div class="home-content-item">
                @if(loading){
                <div class="home-content-item-loader">loading...</div>
                }
                @else{
                @for(item of data_juice?.slice(0,8); track item.id){
                <app-card [card-data]="item" />
                }
                }

            </div>
            @if(data_juice !== null && data_juice!.length > 8){
            <button class="home-content-banner-btn">Xem thêm</button>
            }
        </section>
    </div>
    <br>
</div>