<div class="footer">
    <div class="footer-info">
        <h2 class="footer-info-title cormorant-upright-bold">Tropical Fruit Tea</h2>
        <br>
        <p class="footer-info-address cormorant-upright-semibold">Address</p>
        <span class="crimson-pro-light">Số 1 Nguyễn Thị Minh Khai, Nha Trang, Khành Hoà, Việt Nam</span>
        <br>
        <br>
        <p class="footer-info-address cormorant-upright-semibold">Contact</p>
        <span class="crimson-pro-light">0.868.375.541</span>
    </div>
    <div class="footer-working">
        <h3 class="footer-working-title cormorant-upright-semibold">
            Working hours
        </h3>
        <br>
        <p class="footer-working-day cormorant-upright-semibold">Monday - Sunday:</p>
        <span class="crimson-pro-light">6.00am - 1.00am</span>
    </div>
    <div class="footer-contact">
        <h3 class="footer-contact-title cormorant-upright-semibold">
            Connect with us
        </h3>
        <br>
        <div class="footer-contact-icon">
            <icon-facebook />
            <icon-zalo />
            <icon-phone />
        </div>
    </div>
    <br>
</div>