.footer {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}

.footer-info span {
    color: var(--text-color-2);
}

.footer-info-title {
    font-size: var(--font-size-2);
}

.footer-info-address,
.footer-working-day {
    font-size: var(--font-size-4);
}

.footer-working-title,
.footer-contact-title {
    font-size: var(--font-size-3);
    color: var(--text-color-2);
}

.footer-contact-icon {
    display: flex;
    gap: 3vw;
}